# Everythin in Code
*Code

# dconf
*dconf

# gtk
*gtk-3.0

#kde 
*kde.org

# logs
.log
.logs

# Cache directories


# Random apps I don't care about
texstudio
neofetch
nautilus
obisian/*
nwg-displays
keepassxc
pulse
pipewire
