* {
	border: none;
	border-radius: 5px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 14px;
	min-height: 10px;
	margin-top: 2px;
	margin-left: 3px;
	margin-right: 3px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
    padding-left: 0px;
    padding-right: 0px;
	margin-right: 30px;
	margin-left: 30px;
}

#workspaces button {
    all: unset;
    padding: 0px;   /* or whatever spacing you want */
    margin: 0;        /* removes global margin-left */
    color: alpha(#bd93f9, .4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: #bd93f9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: alpha(#bd93f9,.4);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: #bd93f9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network {
	transition: none;
	color: #161320;
	background: #bd93f9;
	padding-left: 8px;
	padding-right: 8px;
}

#tray {
	transition: none;
	color: #161320;
	background: #F8BD96;
	padding-left: 4px;
	padding-right: 4px;
}

/* #bluetooth {
	transition: none;
	color: #161320;
	background: #4e83ff;
	padding-left: 8px;
	padding-right: 8px;
} */

#pulseaudio {
	transition: none;
	color: #1A1826;
	background: #FAE3B0;
	padding-left: 8px;
	padding-right: 8px;
}

#battery {
	transition: none;
	color: #161320;
	background: #B5E8E0;
	padding-left: 8px;
	padding-right: 8px;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	transition: none;
	color: #161320;
	background: #F8BD96;
	padding-left: 8px;
	padding-right: 8px;
}

#clock {
	transition: none;
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
	padding-left: 8px;
	padding-right: 8px;
}

#memory {
	transition: none;
	color: #161320;
	background: #DDB6F2;
	padding-left: 8px;
	padding-right: 8px;
}

#cpu {
	transition: none;
	color: #161320;
	background: #96CDFB;
	padding-left: 8px;
	padding-right: 8px;
}

#custom-launcher {
	font-size: 22px;
	transition: none;
    color: #89DCEB;
	margin-left: 0px;
	padding-left: 0px;
	padding: 0px;
}

#custom-power {
	transition: none;
	color: #161320;
	background: #F28FAD;
	/* margin-right: 6px; */
	padding-left: 7px;
	padding-right: 4px;
}

#custom-updates {
	transition: none;
	color: #161320;
	background: #E8A2AF;
	padding-left: 8px;
	padding-right: 8px;
}

#custom-monitor-mode {
	transition: none;
	color: #161320;
	background: #F8BD96;
	padding-left: 8px;
	padding-right: 8px;
}
